@model Reservaciones.Models.Entidades.ReservacionesModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Seguro que desea Eliminar?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Fecha reservacion</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
        <dt class="col-sm-2">Descripción</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento.Descripcion)
        </dd>
        <dt class="col-sm-2">Nombre evento</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservacionId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al inicio</a>
    </form>
</div>
